.icon {
    width: 1.5rem;
    margin-right:.5rem;
}
.page-foot {
    text-align: center;
}
div code.hljs,
p code.hljs
{
    display: inline;
    padding: .2em
}
div.alert > code.hljs {
    background: inherit;
}

.text-to-code {
}

ul.nav-tabs li.nav-item a.active {
    background: #f8f9fa;
    /* same as code background */
    border-color: #dee2e6 #dee2e6 #f8f9fa;
}